In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("quikr_car.csv")

In [3]:
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
df.shape

(892, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [6]:
df['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [7]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [8]:
df['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [9]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

## Quality
- price has ask for price
- price has object convert to integer
- year has many non numerical values
- year obj to int
- kms object to int
- remove kms
- kms has nan values
- fuel type has nan values
- keep first three words of name

## cleaning of data

In [10]:
backup = df.copy()

In [11]:
df = df[df['year'].str.isnumeric()]

In [12]:
df['year'] = df['year'].astype(int)

In [13]:
df = df[df['Price'] != "Ask For Price"]

In [14]:
df['Price'] = df['Price'].str.replace(',','').astype(int)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [16]:
df['kms_driven'] = df['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [17]:
df = df[df['kms_driven'].str.isnumeric()]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.7+ KB

In [19]:
df['kms_driven'] = df['kms_driven'].astype(int)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [21]:
df[~df['fuel_type'].isna()]

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [22]:
df['fuel_type'].value_counts()

fuel_type
Petrol    428
Diesel    386
LPG         2
Name: count, dtype: int64

In [23]:
df['fuel_type'].mode()[0]

'Petrol'

In [24]:
df['fuel_type'].fillna(df['fuel_type'].mode()[0],inplace=True)

In [25]:
df['fuel_type'].isnull().sum()

0

In [26]:
df['name'] = df['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [27]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[817 rows x 6 columns]

In [28]:
df = df.reset_index(drop=True)

In [29]:
df = df[df['Price']<6e6].reset_index(drop=True)

In [30]:
df

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [31]:
df.to_csv('Cleaned_data.csv')

## Model

In [32]:
from sklearn.model_selection import train_test_split,GridSearchCV

In [33]:
X = df.drop(columns=['Price'])
Y = df['Price']

In [34]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
812          Tata Indica V2      Tata  2009       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009      132000    Petrol
814            Tata Zest XM      Tata  2018       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[816 rows x 5 columns]

In [35]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [36]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import r2_score,confusion_matrix
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [37]:
ohe = OneHotEncoder()

In [38]:
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [39]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [40]:
col_trns = ColumnTransformer(
    transformers=[
        ('ohe', OneHotEncoder(categories=ohe.categories_), ['name', 'company', 'fuel_type'])
    ],
    remainder='passthrough'
)

In [41]:
def grid_search(X_train, y_train, X_test, y_test):
    models = {
        'LinearRegression': Pipeline([
            ('col_trns', col_trns),
            ('model', LinearRegression())
        ]),
        'Ridge': Pipeline([
            ('col_trns', col_trns),
            ('model', Ridge())
        ]),
        'Lasso': Pipeline([
            ('col_trns', col_trns),
            ('model', Lasso())
        ]),
        'RandomForest': Pipeline([
            ('col_trns', col_trns),
            ('model', RandomForestRegressor())
        ]),
        'GradientBoosting': Pipeline([
            ('col_trns', col_trns),
            ('model', GradientBoostingRegressor())
        ])
    }
    

    param_grid = {
        'LinearRegression': {
            'model__fit_intercept': [True, False]
        },
        'Ridge': {
            'model__alpha': [0.1, 1.0, 10.0],
            'model__fit_intercept': [True, False]
        },
        'Lasso': {
            'model__alpha': [0.1, 1.0, 10.0],
            'model__fit_intercept': [True, False]
        },
        'RandomForest': {
            'model__n_estimators': [100, 200],
            'model__max_depth': [None, 10, 20],
            'model__min_samples_split': [2, 5, 10]
        },
        'GradientBoosting': {
            'model__n_estimators': [100, 200],
            'model__learning_rate': [0.01, 0.1, 0.2],
            'model__max_depth': [3, 5, 7]
        }
    }

    results = []
    
    for name, model in models.items():
        grid_search = GridSearchCV(model, param_grid[name], cv=5, verbose=3, n_jobs=-1,scoring='r2')
        grid_search.fit(X_train, y_train)
        
        best_model = grid_search.best_estimator_
        y_pred = best_model.predict(X_test)
        
        r2 = r2_score(y_test, y_pred)
        

        
        results.append({
            'Model': name,
            'Best Score': grid_search.best_score_,
            'Best Parameters': grid_search.best_params_,
            'R2 Score': r2
        })
        
    
    return results

In [42]:
result = grid_search(x_train,y_train,x_test,y_test)

Fitting 5 folds for each of 2 candidates, totalling 10 fits

[CV 3/5] END .........model__fit_intercept=True;, score=0.584 total time=   0.1s
[CV 5/5] END .........model__fit_intercept=True;, score=0.591 total time=   0.1s
[CV 1/5] END .........model__fit_intercept=True;, score=0.566 total time=   0.1s[CV 1/5] END ........model__fit_intercept=False;, score=0.414 total time=   0.0s

[CV 2/5] END ........model__fit_intercept=False;, score=0.519 total time=   0.0s
[CV 3/5] END ........model__fit_intercept=False;, score=0.425 total time=   0.0s
[CV 4/5] END ........model__fit_intercept=False;, score=0.762 total time=   0.0s
[CV 5/5] END ........model__fit_intercept=False;, score=0.498 total time=   0.0s
[CV 2/5] END .........model__fit_intercept=True;, score=0.604 total time=   0.1s
[CV 4/5] END .........model__fit_intercept=True;, score=0.851 total time=   0.0s
Fitting 5 folds for each of 6 candidates, totalling 30 fits
[CV 1/5] END model__alpha=0.1, model__fit_intercept=True;, score=0.180 total time=   0.0s
[CV 4/5] END model__alpha=0.1, model__fit_intercept=True;, score=0.090 total time=   0.0s
[CV 2/5] END model__alpha=0.1, model__fit_intercept=True;, score=0.103 total time=   0.1s
[CV 3/5] END model__alpha=0.1, model__fit_intercept=True;, score=0.078 total time=   0.1s
[CV 5/5] END model__alpha=0.1, model__fit_intercept=True;, score=0.138 total time=   0.0s
[CV 2/5] END model__alpha=0.1, model__fit_intercept=False;, score=-0.002 total time=   0.1s
[CV 1/5] END model__alpha=0.1, model__fit_intercept=False;, score=0.040 total time=   0.1s
[CV 4/5] END model__alpha=0.1, model__fit_intercept=False;, score=0.014 total time=   0.0s
[CV 3/5] END model__alpha=0.1, model__fit_intercept=False;, score=-0.049 total time=   0.1s
[CV 5/5] END model__alpha=0.1, model__fit_intercept=False;, score=0.014 total time=   0.0s
[CV 1/5] END model__alpha=1.0, model__fit_intercept=True;, score=0.180 total time=   0.0s
[CV 5/5] END model__alpha=1.0, model__fit_intercept=True;, score=0.138 total time=   0.1s
[CV 2/5] END model__alpha=1.0, model__fit_intercept=True;, score=0.103 total time=   0.0s
[CV 3/5] END model__alpha=1.0, model__fit_intercept=True;, score=0.078 total time=   0.1s
[CV 1/5] END model__alpha=1.0, model__fit_intercept=False;, score=0.040 total time=   0.0s
[CV 4/5] END model__alpha=1.0, model__fit_intercept=False;, score=0.014 total time=   0.0s
[CV 5/5] END model__alpha=1.0, model__fit_intercept=False;, score=0.014 total time=   0.0s
[CV 2/5] END model__alpha=1.0, model__fit_intercept=False;, score=-0.002 total time=   0.1s
[CV 1/5] END model__alpha=10.0, model__fit_intercept=True;, score=0.180 total time=   0.1s
[CV 3/5] END model__alpha=10.0, model__fit_intercept=True;, score=0.078 total time=   0.1s
[CV 2/5] END model__alpha=10.0, model__fit_intercept=True;, score=0.103 total time=   0.0s
[CV 3/5] END model__alpha=1.0, model__fit_intercept=False;, score=-0.049 total time=   0.1s
[CV 4/5] END model__alpha=1.0, model__fit_intercept=True;, score=0.090 total time=   0.1s
[CV 5/5] END model__alpha=10.0, model__fit_intercept=True;, score=0.138 total time=   0.0s
[CV 4/5] END model__alpha=10.0, model__fit_intercept=True;, score=0.090 total time=   0.1s
[CV 1/5] END model__alpha=10.0, model__fit_intercept=False;, score=0.040 total time=   0.1s
[CV 2/5] END model__alpha=10.0, model__fit_intercept=False;, score=-0.002 total time=   0.0s
[CV 4/5] END model__alpha=10.0, model__fit_intercept=False;, score=0.014 total time=   0.0s
[CV 3/5] END model__alpha=10.0, model__fit_intercept=False;, score=-0.049 total time=   0.1s
[CV 5/5] END model__alpha=10.0, model__fit_intercept=False;, score=0.014 total time=   0.0s
Fitting 5 folds for each of 6 candidates, totalling 30 fits

/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 974528546071.0339, tolerance: 8603390526.389032
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 779871659176.6826, tolerance: 8012065944.398863
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 963994901385.9382, tolerance: 7953057027.536
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2577773647168.585, tolerance: 17043160112.8553
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 916927457217.8235, tolerance: 8581794599.647844
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2620531627745.4526, tolerance: 17831997861.9201
  model = cd_fast.sparse_enet_coordinate_descent(

[CV 4/5] END model__alpha=0.1, model__fit_intercept=True;, score=0.674 total time=   0.4s
[CV 3/5] END model__alpha=0.1, model__fit_intercept=True;, score=0.312 total time=   0.4s
[CV 2/5] END model__alpha=0.1, model__fit_intercept=True;, score=0.388 total time=   0.6s
[CV 1/5] END model__alpha=0.1, model__fit_intercept=False;, score=0.151 total time=   0.1s
[CV 1/5] END model__alpha=0.1, model__fit_intercept=True;, score=0.541 total time=   0.6s
[CV 3/5] END model__alpha=0.1, model__fit_intercept=False;, score=0.010 total time=   0.1s

/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2525838362200.386, tolerance: 16371430725.919802
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2401896692519.16, tolerance: 16444217162.991201
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2124050808680.728, tolerance: 15290385971.999601
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 670114022402.6462, tolerance: 7194850657.040518
  model = cd_fast.sparse_enet_coordinate_descent(

[CV 2/5] END model__alpha=0.1, model__fit_intercept=False;, score=0.005 total time=   0.1s
[CV 4/5] END model__alpha=0.1, model__fit_intercept=False;, score=0.416 total time=   0.1s
[CV 5/5] END model__alpha=0.1, model__fit_intercept=False;, score=0.128 total time=   0.2s
[CV 5/5] END model__alpha=0.1, model__fit_intercept=True;, score=0.422 total time=   0.4s

/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 262627455288.33496, tolerance: 8012065944.398863
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 244611068395.95264, tolerance: 7953057027.536
  model = cd_fast.sparse_enet_coordinate_descent(

[CV 4/5] END model__alpha=1.0, model__fit_intercept=True;, score=0.758 total time=   0.4s
[CV 2/5] END model__alpha=1.0, model__fit_intercept=True;, score=0.490 total time=   0.6s

/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2451161797538.0, tolerance: 17043160112.8553
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 551317486111.509, tolerance: 8581794599.647844
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 290371870847.1448, tolerance: 7194850657.040518
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 463992248567.1741, tolerance: 8603390526.389032
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2505524901988.376, tolerance: 17831997861.9201
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2475927865255.8413, tolerance: 16371430725.919802
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2418562423642.0156, tolerance: 16444217162.991201
  model = cd_fast.sparse_enet_coordinate_descent(

[CV 1/5] END model__alpha=1.0, model__fit_intercept=False;, score=0.322 total time=   0.1s
[CV 5/5] END model__alpha=1.0, model__fit_intercept=True;, score=0.431 total time=   0.3s
[CV 1/5] END model__alpha=1.0, model__fit_intercept=True;, score=0.543 total time=   0.9s
[CV 3/5] END model__alpha=1.0, model__fit_intercept=True;, score=0.393 total time=   0.7s
[CV 3/5] END model__alpha=1.0, model__fit_intercept=False;, score=0.240 total time=   0.1s
[CV 2/5] END model__alpha=1.0, model__fit_intercept=False;, score=0.205 total time=   0.1s
[CV 4/5] END model__alpha=1.0, model__fit_intercept=False;, score=0.644 total time=   0.1s
[CV 5/5] END model__alpha=1.0, model__fit_intercept=False;, score=0.221 total time=   0.1s

/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2120660089302.945, tolerance: 15290385971.999601
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 48040164724.48486, tolerance: 8581794599.647844
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1790354661747.2542, tolerance: 17043160112.8553
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1750871370916.4453, tolerance: 16371430725.919802
  model = cd_fast.sparse_enet_coordinate_descent(

[CV 1/5] END model__alpha=10.0, model__fit_intercept=True;, score=0.550 total time=   0.5s
[CV 2/5] END model__alpha=10.0, model__fit_intercept=True;, score=0.616 total time=   0.5s
[CV 1/5] END model__alpha=10.0, model__fit_intercept=False;, score=0.409 total time=   0.1s
[CV 2/5] END model__alpha=10.0, model__fit_intercept=False;, score=0.531 total time=   0.1s

/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 114673057366.2378, tolerance: 8012065944.398863
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2578463380052.4883, tolerance: 16444217162.991201
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2141670247257.8997, tolerance: 17831997861.9201
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 48560945789.72217, tolerance: 7194850657.040518
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1325280184080.018, tolerance: 15290385971.999601
  model = cd_fast.sparse_enet_coordinate_descent(
/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 66870008277.526855, tolerance: 8603390526.389032
  model = cd_fast.sparse_enet_coordinate_descent(

[CV 4/5] END model__alpha=10.0, model__fit_intercept=True;, score=0.820 total time=   0.7s
[CV 4/5] END model__alpha=10.0, model__fit_intercept=False;, score=0.803 total time=   0.1s
[CV 5/5] END model__alpha=10.0, model__fit_intercept=True;, score=0.465 total time=   0.3s
[CV 3/5] END model__alpha=10.0, model__fit_intercept=False;, score=0.597 total time=   0.2s
[CV 5/5] END model__alpha=10.0, model__fit_intercept=False;, score=0.346 total time=   0.1s
[CV 3/5] END model__alpha=10.0, model__fit_intercept=True;, score=0.636 total time=   0.9s

/media/somil/Ubuntu1/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:592: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 62360043471.160645, tolerance: 10091303501.887094
  model = cd_fast.sparse_enet_coordinate_descent(

Fitting 5 folds for each of 18 candidates, totalling 90 fits
[CV 4/5] END model__max_depth=None, model__min_samples_split=2, model__n_estimators=100;, score=0.846 total time=   1.3s
[CV 2/5] END model__max_depth=None, model__min_samples_split=2, model__n_estimators=100;, score=0.529 total time=   2.2s
[CV 1/5] END model__max_depth=None, model__min_samples_split=2, model__n_estimators=100;, score=0.641 total time=   2.9s
[CV 3/5] END model__max_depth=None, model__min_samples_split=2, model__n_estimators=100;, score=0.680 total time=   3.0s
[CV 5/5] END model__max_depth=None, model__min_samples_split=2, model__n_estimators=100;, score=0.567 total time=   2.0s
[CV 3/5] END model__max_depth=None, model__min_samples_split=2, model__n_estimators=200;, score=0.673 total time=   3.3s
[CV 1/5] END model__max_depth=None, model__min_samples_split=2, model__n_estimators=200;, score=0.682 total time=   4.5s
[CV 4/5] END model__max_depth=None, model__min_samples_split=2, model__n_estimators=200;, score=0.838 total time=   4.6s
[CV 5/5] END model__max_depth=None, model__min_samples_split=2, model__n_estimators=200;, score=0.563 total time=   2.5s
[CV 1/5] END model__max_depth=None, model__min_samples_split=5, model__n_estimators=100;, score=0.666 total time=   2.2s
[CV 2/5] END model__max_depth=None, model__min_samples_split=2, model__n_estimators=200;, score=0.514 total time=   6.1s
[CV 3/5] END model__max_depth=None, model__min_samples_split=5, model__n_estimators=100;, score=0.634 total time=   1.4s
[CV 2/5] END model__max_depth=None, model__min_samples_split=5, model__n_estimators=100;, score=0.532 total time=   2.3s
[CV 5/5] END model__max_depth=None, model__min_samples_split=5, model__n_estimators=100;, score=0.567 total time=   1.4s
[CV 4/5] END model__max_depth=None, model__min_samples_split=5, model__n_estimators=100;, score=0.826 total time=   2.7s
[CV 1/5] END model__max_depth=None, model__min_samples_split=5, model__n_estimators=200;, score=0.663 total time=   2.8s
[CV 2/5] END model__max_depth=None, model__min_samples_split=5, model__n_estimators=200;, score=0.515 total time=   3.0s
[CV 3/5] END model__max_depth=None, model__min_samples_split=5, model__n_estimators=200;, score=0.657 total time=   3.5s
[CV 1/5] END model__max_depth=None, model__min_samples_split=10, model__n_estimators=100;, score=0.652 total time=   1.0s
[CV 3/5] END model__max_depth=None, model__min_samples_split=10, model__n_estimators=100;, score=0.642 total time=   1.0s
[CV 2/5] END model__max_depth=None, model__min_samples_split=10, model__n_estimators=100;, score=0.508 total time=   1.8s
[CV 5/5] END model__max_depth=None, model__min_samples_split=5, model__n_estimators=200;, score=0.563 total time=   3.5s
[CV 4/5] END model__max_depth=None, model__min_samples_split=5, model__n_estimators=200;, score=0.834 total time=   5.0s
[CV 5/5] END model__max_depth=None, model__min_samples_split=10, model__n_estimators=100;, score=0.531 total time=   1.3s
[CV 4/5] END model__max_depth=None, model__min_samples_split=10, model__n_estimators=100;, score=0.829 total time=   1.7s
[CV 2/5] END model__max_depth=None, model__min_samples_split=10, model__n_estimators=200;, score=0.509 total time=   2.8s
[CV 4/5] END model__max_depth=None, model__min_samples_split=10, model__n_estimators=200;, score=0.842 total time=   3.3s
[CV 3/5] END model__max_depth=None, model__min_samples_split=10, model__n_estimators=200;, score=0.643 total time=   3.5s
[CV 1/5] END model__max_depth=None, model__min_samples_split=10, model__n_estimators=200;, score=0.662 total time=   5.0s
[CV 5/5] END model__max_depth=None, model__min_samples_split=10, model__n_estimators=200;, score=0.553 total time=   2.8s
[CV 2/5] END model__max_depth=10, model__min_samples_split=2, model__n_estimators=100;, score=0.413 total time=   1.9s
[CV 1/5] END model__max_depth=10, model__min_samples_split=2, model__n_estimators=100;, score=0.558 total time=   2.0s
[CV 3/5] END model__max_depth=10, model__min_samples_split=2, model__n_estimators=100;, score=0.544 total time=   1.4s
[CV 5/5] END model__max_depth=10, model__min_samples_split=2, model__n_estimators=100;, score=0.493 total time=   0.6s
[CV 4/5] END model__max_depth=10, model__min_samples_split=2, model__n_estimators=100;, score=0.775 total time=   0.9s
[CV 3/5] END model__max_depth=10, model__min_samples_split=2, model__n_estimators=200;, score=0.569 total time=   1.1s
[CV 1/5] END model__max_depth=10, model__min_samples_split=2, model__n_estimators=200;, score=0.570 total time=   1.7s
[CV 2/5] END model__max_depth=10, model__min_samples_split=2, model__n_estimators=200;, score=0.432 total time=   1.7s
[CV 4/5] END model__max_depth=10, model__min_samples_split=2, model__n_estimators=200;, score=0.767 total time=   1.7s
[CV 1/5] END model__max_depth=10, model__min_samples_split=5, model__n_estimators=100;, score=0.583 total time=   1.0s
[CV 5/5] END model__max_depth=10, model__min_samples_split=2, model__n_estimators=200;, score=0.496 total time=   1.2s
[CV 3/5] END model__max_depth=10, model__min_samples_split=5, model__n_estimators=100;, score=0.512 total time=   0.7s
[CV 2/5] END model__max_depth=10, model__min_samples_split=5, model__n_estimators=100;, score=0.429 total time=   0.9s
[CV 5/5] END model__max_depth=10, model__min_samples_split=5, model__n_estimators=100;, score=0.503 total time=   0.6s
[CV 4/5] END model__max_depth=10, model__min_samples_split=5, model__n_estimators=100;, score=0.786 total time=   1.0s
[CV 1/5] END model__max_depth=10, model__min_samples_split=5, model__n_estimators=200;, score=0.572 total time=   1.3s
[CV 3/5] END model__max_depth=10, model__min_samples_split=5, model__n_estimators=200;, score=0.527 total time=   1.3s
[CV 2/5] END model__max_depth=10, model__min_samples_split=5, model__n_estimators=200;, score=0.438 total time=   1.7s
[CV 1/5] END model__max_depth=10, model__min_samples_split=10, model__n_estimators=100;, score=0.580 total time=   0.5s
[CV 4/5] END model__max_depth=10, model__min_samples_split=5, model__n_estimators=200;, score=0.778 total time=   1.6s
[CV 2/5] END model__max_depth=10, model__min_samples_split=10, model__n_estimators=100;, score=0.445 total time=   0.9s
[CV 3/5] END model__max_depth=10, model__min_samples_split=10, model__n_estimators=100;, score=0.530 total time=   0.7s
[CV 5/5] END model__max_depth=10, model__min_samples_split=5, model__n_estimators=200;, score=0.508 total time=   1.7s
[CV 4/5] END model__max_depth=10, model__min_samples_split=10, model__n_estimators=100;, score=0.765 total time=   0.8s
[CV 5/5] END model__max_depth=10, model__min_samples_split=10, model__n_estimators=100;, score=0.509 total time=   0.7s
[CV 3/5] END model__max_depth=10, model__min_samples_split=10, model__n_estimators=200;, score=0.543 total time=   1.0s
[CV 1/5] END model__max_depth=10, model__min_samples_split=10, model__n_estimators=200;, score=0.556 total time=   1.5s
[CV 4/5] END model__max_depth=10, model__min_samples_split=10, model__n_estimators=200;, score=0.780 total time=   1.5s
[CV 2/5] END model__max_depth=10, model__min_samples_split=10, model__n_estimators=200;, score=0.453 total time=   2.0s
[CV 5/5] END model__max_depth=10, model__min_samples_split=10, model__n_estimators=200;, score=0.488 total time=   1.0s
[CV 3/5] END model__max_depth=20, model__min_samples_split=2, model__n_estimators=100;, score=0.653 total time=   0.9s
[CV 2/5] END model__max_depth=20, model__min_samples_split=2, model__n_estimators=100;, score=0.503 total time=   1.2s
[CV 1/5] END model__max_depth=20, model__min_samples_split=2, model__n_estimators=100;, score=0.694 total time=   1.5s
[CV 4/5] END model__max_depth=20, model__min_samples_split=2, model__n_estimators=100;, score=0.839 total time=   1.5s
[CV 5/5] END model__max_depth=20, model__min_samples_split=2, model__n_estimators=100;, score=0.550 total time=   1.0s
[CV 2/5] END model__max_depth=20, model__min_samples_split=2, model__n_estimators=200;, score=0.489 total time=   1.9s
[CV 1/5] END model__max_depth=20, model__min_samples_split=2, model__n_estimators=200;, score=0.676 total time=   2.8s
[CV 3/5] END model__max_depth=20, model__min_samples_split=2, model__n_estimators=200;, score=0.659 total time=   2.4s
[CV 4/5] END model__max_depth=20, model__min_samples_split=2, model__n_estimators=200;, score=0.832 total time=   2.4s
[CV 3/5] END model__max_depth=20, model__min_samples_split=5, model__n_estimators=100;, score=0.669 total time=   0.8s
[CV 1/5] END model__max_depth=20, model__min_samples_split=5, model__n_estimators=100;, score=0.687 total time=   1.6s
[CV 4/5] END model__max_depth=20, model__min_samples_split=5, model__n_estimators=100;, score=0.848 total time=   0.8s
[CV 2/5] END model__max_depth=20, model__min_samples_split=5, model__n_estimators=100;, score=0.501 total time=   2.0s
[CV 5/5] END model__max_depth=20, model__min_samples_split=2, model__n_estimators=200;, score=0.554 total time=   3.7s
[CV 5/5] END model__max_depth=20, model__min_samples_split=5, model__n_estimators=100;, score=0.554 total time=   1.7s
[CV 2/5] END model__max_depth=20, model__min_samples_split=5, model__n_estimators=200;, score=0.500 total time=   2.1s
[CV 1/5] END model__max_depth=20, model__min_samples_split=5, model__n_estimators=200;, score=0.632 total time=   2.2s
[CV 4/5] END model__max_depth=20, model__min_samples_split=5, model__n_estimators=200;, score=0.834 total time=   1.7s
[CV 3/5] END model__max_depth=20, model__min_samples_split=5, model__n_estimators=200;, score=0.645 total time=   2.4s
[CV 1/5] END model__max_depth=20, model__min_samples_split=10, model__n_estimators=100;, score=0.666 total time=   1.2s
[CV 2/5] END model__max_depth=20, model__min_samples_split=10, model__n_estimators=100;, score=0.498 total time=   0.7s
[CV 5/5] END model__max_depth=20, model__min_samples_split=5, model__n_estimators=200;, score=0.557 total time=   2.2s
[CV 3/5] END model__max_depth=20, model__min_samples_split=10, model__n_estimators=100;, score=0.645 total time=   1.3s
[CV 4/5] END model__max_depth=20, model__min_samples_split=10, model__n_estimators=100;, score=0.838 total time=   1.0s
[CV 5/5] END model__max_depth=20, model__min_samples_split=10, model__n_estimators=100;, score=0.549 total time=   0.9s
[CV 3/5] END model__max_depth=20, model__min_samples_split=10, model__n_estimators=200;, score=0.645 total time=   1.5s
[CV 1/5] END model__max_depth=20, model__min_samples_split=10, model__n_estimators=200;, score=0.672 total time=   1.8s
[CV 4/5] END model__max_depth=20, model__min_samples_split=10, model__n_estimators=200;, score=0.827 total time=   1.8s
[CV 2/5] END model__max_depth=20, model__min_samples_split=10, model__n_estimators=200;, score=0.501 total time=   2.0s
[CV 5/5] END model__max_depth=20, model__min_samples_split=10, model__n_estimators=200;, score=0.543 total time=   1.1s
Fitting 5 folds for each of 18 candidates, totalling 90 fits
[CV 1/5] END model__learning_rate=0.01, model__max_depth=3, model__n_estimators=100;, score=0.280 total time=   0.2s
[CV 4/5] END model__learning_rate=0.01, model__max_depth=3, model__n_estimators=100;, score=0.461 total time=   0.2s
[CV 3/5] END model__learning_rate=0.01, model__max_depth=3, model__n_estimators=100;, score=0.251 total time=   0.3s
[CV 2/5] END model__learning_rate=0.01, model__max_depth=3, model__n_estimators=100;, score=0.197 total time=   0.3s
[CV 5/5] END model__learning_rate=0.01, model__max_depth=3, model__n_estimators=100;, score=0.279 total time=   0.4s
[CV 1/5] END model__learning_rate=0.01, model__max_depth=3, model__n_estimators=200;, score=0.421 total time=   0.5s
[CV 2/5] END model__learning_rate=0.01, model__max_depth=3, model__n_estimators=200;, score=0.276 total time=   0.5s
[CV 3/5] END model__learning_rate=0.01, model__max_depth=3, model__n_estimators=200;, score=0.375 total time=   0.6s
[CV 5/5] END model__learning_rate=0.01, model__max_depth=3, model__n_estimators=200;, score=0.414 total time=   0.4s
[CV 1/5] END model__learning_rate=0.01, model__max_depth=5, model__n_estimators=100;, score=0.332 total time=   0.3s
[CV 4/5] END model__learning_rate=0.01, model__max_depth=3, model__n_estimators=200;, score=0.640 total time=   0.7s
[CV 2/5] END model__learning_rate=0.01, model__max_depth=5, model__n_estimators=100;, score=0.265 total time=   0.4s
[CV 3/5] END model__learning_rate=0.01, model__max_depth=5, model__n_estimators=100;, score=0.299 total time=   0.3s
[CV 4/5] END model__learning_rate=0.01, model__max_depth=5, model__n_estimators=100;, score=0.608 total time=   0.3s
[CV 5/5] END model__learning_rate=0.01, model__max_depth=5, model__n_estimators=100;, score=0.357 total time=   0.5s
[CV 2/5] END model__learning_rate=0.01, model__max_depth=5, model__n_estimators=200;, score=0.373 total time=   0.6s
[CV 1/5] END model__learning_rate=0.01, model__max_depth=5, model__n_estimators=200;, score=0.461 total time=   0.8s
[CV 3/5] END model__learning_rate=0.01, model__max_depth=5, model__n_estimators=200;, score=0.486 total time=   0.6s
[CV 4/5] END model__learning_rate=0.01, model__max_depth=5, model__n_estimators=200;, score=0.752 total time=   0.8s
[CV 5/5] END model__learning_rate=0.01, model__max_depth=5, model__n_estimators=200;, score=0.476 total time=   0.6s
[CV 1/5] END model__learning_rate=0.01, model__max_depth=7, model__n_estimators=100;, score=0.370 total time=   0.5s
[CV 2/5] END model__learning_rate=0.01, model__max_depth=7, model__n_estimators=100;, score=0.268 total time=   0.5s
[CV 4/5] END model__learning_rate=0.01, model__max_depth=7, model__n_estimators=100;, score=0.667 total time=   0.4s
[CV 3/5] END model__learning_rate=0.01, model__max_depth=7, model__n_estimators=100;, score=0.371 total time=   0.5s
[CV 5/5] END model__learning_rate=0.01, model__max_depth=7, model__n_estimators=100;, score=0.383 total time=   0.5s
[CV 1/5] END model__learning_rate=0.01, model__max_depth=7, model__n_estimators=200;, score=0.500 total time=   0.9s
[CV 2/5] END model__learning_rate=0.01, model__max_depth=7, model__n_estimators=200;, score=0.387 total time=   0.7s
[CV 3/5] END model__learning_rate=0.01, model__max_depth=7, model__n_estimators=200;, score=0.545 total time=   0.8s
[CV 1/5] END model__learning_rate=0.1, model__max_depth=3, model__n_estimators=100;, score=0.648 total time=   0.3s
[CV 4/5] END model__learning_rate=0.01, model__max_depth=7, model__n_estimators=200;, score=0.799 total time=   1.0s
[CV 2/5] END model__learning_rate=0.1, model__max_depth=3, model__n_estimators=100;, score=0.535 total time=   0.2s
[CV 3/5] END model__learning_rate=0.1, model__max_depth=3, model__n_estimators=100;, score=0.634 total time=   0.3s
[CV 4/5] END model__learning_rate=0.1, model__max_depth=3, model__n_estimators=100;, score=0.850 total time=   0.3s
[CV 5/5] END model__learning_rate=0.1, model__max_depth=3, model__n_estimators=100;, score=0.612 total time=   0.4s
[CV 5/5] END model__learning_rate=0.01, model__max_depth=7, model__n_estimators=200;, score=0.481 total time=   1.0s
[CV 1/5] END model__learning_rate=0.1, model__max_depth=3, model__n_estimators=200;, score=0.686 total time=   0.4s
[CV 2/5] END model__learning_rate=0.1, model__max_depth=3, model__n_estimators=200;, score=0.570 total time=   0.6s
[CV 3/5] END model__learning_rate=0.1, model__max_depth=3, model__n_estimators=200;, score=0.686 total time=   0.5s
[CV 4/5] END model__learning_rate=0.1, model__max_depth=3, model__n_estimators=200;, score=0.870 total time=   0.6s
[CV 2/5] END model__learning_rate=0.1, model__max_depth=5, model__n_estimators=100;, score=0.537 total time=   0.3s
[CV 5/5] END model__learning_rate=0.1, model__max_depth=3, model__n_estimators=200;, score=0.601 total time=   0.6s
[CV 1/5] END model__learning_rate=0.1, model__max_depth=5, model__n_estimators=100;, score=0.674 total time=   0.4s
[CV 3/5] END model__learning_rate=0.1, model__max_depth=5, model__n_estimators=100;, score=0.684 total time=   0.4s
[CV 1/5] END model__learning_rate=0.1, model__max_depth=5, model__n_estimators=200;, score=0.625 total time=   0.6s
[CV 4/5] END model__learning_rate=0.1, model__max_depth=5, model__n_estimators=100;, score=0.884 total time=   0.8s
[CV 5/5] END model__learning_rate=0.1, model__max_depth=5, model__n_estimators=100;, score=0.544 total time=   0.8s
[CV 3/5] END model__learning_rate=0.1, model__max_depth=5, model__n_estimators=200;, score=0.727 total time=   0.5s
[CV 2/5] END model__learning_rate=0.1, model__max_depth=5, model__n_estimators=200;, score=0.554 total time=   1.1s
[CV 1/5] END model__learning_rate=0.1, model__max_depth=7, model__n_estimators=100;, score=0.697 total time=   0.4s
[CV 5/5] END model__learning_rate=0.1, model__max_depth=5, model__n_estimators=200;, score=0.594 total time=   1.0s
[CV 3/5] END model__learning_rate=0.1, model__max_depth=7, model__n_estimators=100;, score=0.757 total time=   0.5s
[CV 2/5] END model__learning_rate=0.1, model__max_depth=7, model__n_estimators=100;, score=0.503 total time=   0.8s
[CV 4/5] END model__learning_rate=0.1, model__max_depth=5, model__n_estimators=200;, score=0.906 total time=   1.3s
[CV 4/5] END model__learning_rate=0.1, model__max_depth=7, model__n_estimators=100;, score=0.877 total time=   0.7s
[CV 5/5] END model__learning_rate=0.1, model__max_depth=7, model__n_estimators=100;, score=0.625 total time=   0.6s
[CV 1/5] END model__learning_rate=0.1, model__max_depth=7, model__n_estimators=200;, score=0.599 total time=   0.8s
[CV 2/5] END model__learning_rate=0.1, model__max_depth=7, model__n_estimators=200;, score=0.525 total time=   0.9s
[CV 3/5] END model__learning_rate=0.1, model__max_depth=7, model__n_estimators=200;, score=0.778 total time=   0.7s
[CV 1/5] END model__learning_rate=0.2, model__max_depth=3, model__n_estimators=100;, score=0.645 total time=   0.3s
[CV 2/5] END model__learning_rate=0.2, model__max_depth=3, model__n_estimators=100;, score=0.502 total time=   0.3s
[CV 3/5] END model__learning_rate=0.2, model__max_depth=3, model__n_estimators=100;, score=0.698 total time=   0.4s
[CV 4/5] END model__learning_rate=0.1, model__max_depth=7, model__n_estimators=200;, score=0.884 total time=   0.9s
[CV 4/5] END model__learning_rate=0.2, model__max_depth=3, model__n_estimators=100;, score=0.888 total time=   0.3s
[CV 5/5] END model__learning_rate=0.1, model__max_depth=7, model__n_estimators=200;, score=0.554 total time=   0.9s
[CV 5/5] END model__learning_rate=0.2, model__max_depth=3, model__n_estimators=100;, score=0.574 total time=   0.4s
[CV 2/5] END model__learning_rate=0.2, model__max_depth=3, model__n_estimators=200;, score=0.559 total time=   0.5s
[CV 1/5] END model__learning_rate=0.2, model__max_depth=3, model__n_estimators=200;, score=0.601 total time=   0.6s
[CV 3/5] END model__learning_rate=0.2, model__max_depth=3, model__n_estimators=200;, score=0.737 total time=   0.5s
[CV 4/5] END model__learning_rate=0.2, model__max_depth=3, model__n_estimators=200;, score=0.899 total time=   0.6s
[CV 5/5] END model__learning_rate=0.2, model__max_depth=3, model__n_estimators=200;, score=0.587 total time=   0.5s
[CV 1/5] END model__learning_rate=0.2, model__max_depth=5, model__n_estimators=100;, score=0.687 total time=   0.4s
[CV 2/5] END model__learning_rate=0.2, model__max_depth=5, model__n_estimators=100;, score=0.514 total time=   0.4s
[CV 3/5] END model__learning_rate=0.2, model__max_depth=5, model__n_estimators=100;, score=0.694 total time=   0.3s
[CV 4/5] END model__learning_rate=0.2, model__max_depth=5, model__n_estimators=100;, score=0.886 total time=   0.3s
[CV 5/5] END model__learning_rate=0.2, model__max_depth=5, model__n_estimators=100;, score=0.553 total time=   0.4s
[CV 2/5] END model__learning_rate=0.2, model__max_depth=5, model__n_estimators=200;, score=0.529 total time=   0.6s
[CV 3/5] END model__learning_rate=0.2, model__max_depth=5, model__n_estimators=200;, score=0.713 total time=   0.6s
[CV 1/5] END model__learning_rate=0.2, model__max_depth=5, model__n_estimators=200;, score=0.714 total time=   0.8s

In [43]:
result = pd.DataFrame(result)

In [54]:
result

,Model,Best Score,Best Parameters,R2 Score
0,LinearRegression,0.639342,{'model__fit_intercept': True},0.628565
1,Ridge,0.117828,"{'model__alpha': 10.0, 'model__fit_intercept':...",0.107255
2,Lasso,0.617529,"{'model__alpha': 10.0, 'model__fit_intercept':...",0.694107
3,RandomForest,0.653927,"{'model__max_depth': None, 'model__min_samples...",0.665427
4,GradientBoosting,0.694790,"{'model__learning_rate': 0.2, 'model__max_dept...",0.719301

In [44]:
result['Best Parameters'][4]

{'model__learning_rate': 0.2,
 'model__max_depth': 5,
 'model__n_estimators': 200}

In [55]:
gb = GradientBoostingRegressor(learning_rate=0.2,max_depth=5,n_estimators=500)

In [60]:
pipe = Pipeline([('col_trns1',col_trns),('gb',gb)])

In [61]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('col_trns1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
       'Chevrolet...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('gb',
                 GradientBoostingRegressor(learning_rate=0.2, max_depth=5,
                                           n_estimators=500))])

In [62]:
y_pred = pipe.predict(x_test)

In [63]:

r2_score(y_test,y_pred)

0.7020126525848818

In [64]:
import pickle

In [65]:
pickle.dump(pipe,open('car_price_predictor.pkl','wb'))

In [66]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

array([602268.65219533])